# Queries de SQL aplicadas sobre la BBDD

In [1]:
import pandas as pd
import sqlalchemy as sql
import os
from dotenv import load_dotenv

In [6]:
# Load environment variables
load_dotenv()
NAME=os.getenv("NAME")
PASSWORD=os.getenv("PASSWORD")
USER=os.getenv("USERNAME_AIVEN")
HOST=os.getenv("HOST")
PORT=os.getenv("PORT")
SSLMODE=os.getenv("SSL_MODE")

# Database connection
engine = sql.create_engine(f"postgresql://{USER}:{PASSWORD}@{HOST}:{PORT}/{NAME}?sslmode={SSLMODE}")

# Test connection
test_query = 'SELECT * FROM pacientes LIMIT 5'
df = pd.read_sql(test_query, engine)
df

,id_paciente,nombre,fecha_nacimiento,id_sexo,numero,calle,ciudad,edad
0,1,Luciana Gómez,1991-07-12,2,121,Avenida Las Heras,Bs Aires,33
1,2,Ricardo López,1984-03-22,1,434,Calle San Juan,Rosario,40
2,3,Clara Fernández,1990-09-15,2,569,Calle San Juan,Rosario,34
3,4,Marcos Ramírez,1983-11-10,1,250,Avenida Pellegrini,Santa Fe,40
4,5,Julieta Rodríguez,1985-06-18,2,845,Calle Mitre,buenos aires,39